[Unit]
Description=Anik Dairy 10 KL Pasteurizer Shift/Daily Report Generator
After=network.target pasteurizer-poller.service

[Service]
Type=oneshot
User=elanadu
Group=elanadu
WorkingDirectory=/home/elanadu/pasteurizer-logger
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/elanadu/pasteurizer-logger/venv/bin/python src/reports/scheduler.py
